* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(127, 114, 114);
	display: grid;
	grid-template-columns: 20fr 4fr;
}
.left {
	position: initial;
	background-color: rgba(255, 255, 255, 0.345);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(126, 119, 119);
	padding: 20px;

}
.image {
text-align: right;
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(86, 190, 79);
}
